main{
    width: 90vw;
    height: 90vh;
}
.button_circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}
.label{
    position: absolute;
    padding: 10px 10px;
    border-radius: 50px;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.5);
}
/* Utility */
.p-relative{
    position: relative;
}
.button_circle.bg-blue{
    background-color: blue;
}